/* CSS Document */
body {
margin:0px;
padding:0px;
background-image:url("../images/fondo_bar.jpg");
font-size:13px;
}
#contenedor{
margin:0px auto;
display:block;
}
#botom{
width:100%;
position:absolute;
margin-bottom:0px;
height:70px;
margin:0px auto;
bottom:0px;
z-index:200;
left: 0px;
}
#top{
width:100%;
margin-top:0px;
height:120px;
margin:0px auto;
}
#contenido{
margin-top:130px;
margin:0px auto;
width:1100px;
height:400px;
display:block;
}
#caja{
margin-top:30px;
}
#botonera{
width:1100px;
margin-top:0px;
height:120px;
margin:0px auto;
background:#000;
}
#botonerabotom{
width:1100px;
margin-top:0px;
height:70px;
margin:0px auto;
}
#botones{
width:350px;
margin-top:0px;
height:42px;
margin:0px auto;
float:left;
font-family:Arial, Helvetica, sans-serif;;
font-size:15px;
padding-top:78px;
padding-left:10px;
text-decoration:none;
}
#botones ul{
display:inline;
text-decoration:none;
}
#botones ul li{
display:inline;
text-decoration:none;
}
#botones ul li a{
color: #666;
text-decoration:none;
}
#botones ul li a:hover{
color: #fff;
text-decoration:none;
}
#botones ul li a.presionado{
color: #fff;
text-decoration:none;
}
#pieres a{
position: relative;
margin-top:0px;
margin-left:0px;
width:225px;
height:120px;
float:left;
background-image:url("../images/sindoble.png");
background-position:left;
}
#pieres a:hover{
background-position:right;
}
#textura{
width:420px;
height:120px;
float: right;
background-image:url("../images/textura.jpg");
}
#publi0{
width:361px;
height:70px;
float:left;
background-image:url("../images/trans0.png");
}
#publi1{
margin-left:10px;
width:173px;
height:70px;
float: right;
background-image:url("../images/coronamuestra3.png");
}
#publi2{
margin-left:10px;
width:173px;
height:70px;
float: right;
background-image:url("../images/prueba frizze.png");
}
#publi3{
margin-left:10px;
width:173px;
height:70px;
float: right;
background-image:url("../images/chandonterminado2.png");
}
#publi4{
margin-left:10px;
width:173px;
height:70px;
float: right;
background-image:url("../images/budfinal.png");
}
#face a{
position:relative;
margin-top:18px;
margin-left:10px;
width:37px;
height:37px;
float:left;
background-image:url("../images/face3.png");
background-position: left;
}
#face a:hover{
background-position: right;
}
#twi a{
position:relative;
margin-top:18px;
margin-left:0px;
width:37px;
height:37px;
float:left;
background-image:url("../images/twi3.png");
background-position:left;
}
#twi a:hover{
background-position: right;
}
#descripcion{
margin-left:0px;
width:316px;
height:385px;
float:left;
background-image:url("../images/des_sinbar.gif");
font-family: Arial, Helvetica, sans-serif;
font-weight:normal;
line-height:16px;
padding-left:15px;
padding-right:30px;
padding-top:15px;
font-size:12px;
color: #666;
}
h1{
font-family: "DIN Next LT Pro bold Condensed";
font-size:27px;
}
h2{
font-family: "DIN Next LT Pro Condensed";
font-size:22px;
line-height:27px;
font-weight:normal;
}
#cuadrado1{
margin-top:0px;
margin-left:0px;
width:196px;
height:200px;
float:left;
text-decoration:none;
display:block;
background-position:left;
}
#cuadrado2 a{
margin-top:0px;
margin-left:0px;
width:196px;
height:200px;
float:left;
display:block;
background-image: url("../images/cuadrado6.gif");
background-position:left;
}
#cuadrado2 a:hover{
background-position:right;
}
#cuadrados{
position: relative;
margin-top:0px;
margin-left:0px;
width:196px;
height:400px;
float:left;
background-image:url("../images/cuadrado1.png")(no-repeat);
}
#groznik{
width:256px;
height:15px;
font-size:10px;
margin-top:15px;
margin-left:2px;
color:#fff;
float:right;
text-align:right;
font-family: Arial, Helvetica, sans-serif;
}
#groznik a{
margin-left:2px;
color:#fff;
float:right;
text-align:right;
}
#groznik a:hover{
color:#fff;
}
#splash{
width:543px;
height:400px;
float: right;
display:block;
}
 
.content { background: url("../images/gente1.jpg");
			background-size: 545px 400px; }
.content h1 {
	font-size: 40px; 
	text-transform: uppercase; 
	text-align: center;
	margin-top: 180px;
	color: #222;
	line-height: 50px;  }
.content h3 {
	text-align: center; 
	font-size: 22px; 
	color: #222; }
    
/*	--------------------------------------------------
	Global Reset & Standards
	-------------------------------------------------- */
	html, body { margin: 0; padding: 0; }
	h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, img, small, strike, strong, em, sub, sup, tt, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, section { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; text-align: left; }
	table { border-collapse: collapse; border-spacing: 0; }
	ol, ul { list-style: none; }

	body { }
	
	h4 { }
		
	a { }
		
	a:hover { }

.borrar{
clear:both;
}
.borrar1{
clear:both;
}